.vscode/
.idea/
node_modules/
vendor/
.env
/.phpunit.result.cache

# Laravel storage and build outputs
/public/storage
/storage/*.key
/storage/framework/cache/
/storage/framework/
/storage/framework/sessions/
/storage/framework/testing/
/storage/logs/

# Build
/build/
