body {
  background: #f8f9fa;
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 650px;
  background: white;
  border: 2px solid #ee7826;
  border-radius: 12px;
  padding: 25px;
  margin-top: 90px;
  margin-bottom: 50px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.8);
}

.titulo-paso {
  background-color: #fff1e5;
  color: #ee7826;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 18px;
  margin-bottom: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  border-left: 6px solid #ee7826;
}

.text-orange {
  color: #ee7826;
}

.custom-input,
.custom-select {
  border: 2px solid #ee7826;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.btn-primary {
  background-color: #ee7826;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #d16520;
}


