#detalle_vehiculos {
  background: #fefefe;
  border-left: 5px solid #ee7826;
  border-radius: 8px;
  padding: 14px 18px;
  font-size: 15px;
  font-family: "Segoe UI", sans-serif;
  color: #333;
  margin-top: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}

#detalle_vehiculos div {
  padding: 6px 0;
  position: relative;
  padding-left: 16px;
}

#detalle_vehiculos div:not(:last-child) {
  border-bottom: 1px dashed #ddd;
}

.detalle-item div {
  line-height: 1;
}

.btn-primary {
  background-color: #ee7826;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
}

.modal-header.custom-header {
  background-color: transparent !important;
  color: #ee7826 !important;
  border-bottom: 2px solid #ee7826;
}

.modal-header.custom-header .modal-title {
  color: #ee7826 !important;
}

@media (max-width: 576px) {
  .modal-content {
    padding: 1rem !important;
    font-size: 0.85rem !important;
  }

  .modal-header h5 {
    font-size: 1rem !important;
  }

  .modal-body label,
  .modal-body strong {
    font-size: 0.85rem !important;
  }

  .modal-body input,
  .modal-body textarea,
  .modal-body select {
    font-size: 0.85rem !important;
    padding: 0.25rem 0.5rem !important;
  }

  .modal-footer .btn {
    font-size: 0.85rem !important;
    padding: 0.3rem 0.8rem !important;
  }

  .detalle-vehiculo-box {
    font-size: 0.8rem !important;
    padding: 0.5rem 0.7rem !important;
  }

  .modal-body {
    line-height: 1.3;
  }

  .col-fecha,
  .col-estado,
  .col-dias {
    display: none !important;
  }

  .table-responsive-sm {
    overflow-x: auto;
  }

  #tablaAyer td,
  #tablaSemana td,
  #tablaMes td,
  #tablaAyer th,
  #tablaSemana th,
  #tablaMes th {
    font-size: 0.8em;
    white-space: normal !important;
    word-wrap: break-word !important;
  }

  /* Limita el ancho de las columnas largas */
  #tablaAyer td:nth-child(2),
  #tablaSemana td:nth-child(2),
  #tablaMes td:nth-child(2) {
    max-width: 150px;
  }

  #tablaAyer,
  #tablaSemana,
  #tablaMes {
    table-layout: auto !important;
  }
}
