body {
  background: linear-gradient(180deg, #fffaf3 0%, #ffe8cc 100%);
  font-family: "Segoe UI", sans-serif;
}

select {
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 1rem;
}

table {
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  margin-bottom: 2rem;
}

.table-responsive {
  overflow-x: auto;
  width: 100%;
  max-height: 80vh;
}

table th,
table td {
  min-width: 100px;
  white-space: nowrap;
  text-align: center;
}

th,
td {
  padding: 10px;
  vertical-align: middle;
  min-width: 100px;
  white-space: nowrap;
  text-align: center;
}


.bg-success {
  background-color: #28a745 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.text-muted {
  font-weight: 400;
  color: #0a0a0a !important;
}

.fw-semibold {
  font-weight: 600;
}

.form-select {
  border: 2px solid #9e9e9e;
  color: #000;
}

.form-select:focus {
  border-color: #fd7e14;
  box-shadow: 0 0 0 0.2rem rgba(253, 126, 20, 0.25);
}

.card-cabecera {
  background-color: #f1f1f1;
  padding: 18px 15px;
  border-radius: 12px;
  border: 2px solid #fd7e14;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 95%;
  max-width: 500px;
}

.text-orange {
  color: #fd7e14;
}

.reloj-actual {
  border-radius: 8px;
  display: inline-block;
  padding: 6px 14px;
  font-size: 0.95rem;
  font-weight: 600;
  color: #000000;
}

.custom-select {
  padding: 10px 14px;
  font-size: 1rem;
  border: 1px solid #fd7e14;
  border-radius: 8px;
  background-color: #fff8f1;
}

.btn-primary {
  background-color: #ee7826;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
}