.badge-confirmado {
  background-color: #ee7826;
  color: white;
}

.btn-close-orange {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  opacity: 0.8;
  color: #ee7826;
}

.btn-close-orange:hover {
  opacity: 1;
  color: #d95d0b;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #ee7826 !important; 
    color: white !important; 
    border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:not(.current) {
    color: #ee7826 !important;
    background: transparent !important; 
    border: none !important;
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: rgba(238, 120, 38, 0.1) !important; 
}

@media only screen and (max-width: 768px) {
  .table-responsive {
    overflow-x: hidden;
  }

  .modal-dialog {
    max-width: 95% !important;
    margin: 1rem auto;
  }

  .modal-content {
    padding: 1rem;
  }

  .modal-header .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}